[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "python-flask"
# Version 0.0.4

[packages]
flask = "3.0.0"
python-dotenv = "1.0.0"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
dev = "python src/app.py"
